{% extends "admin::layouts.layout" %}

{% block addcss %}
{{ asset('plugins/icheck/skins/all.css')|css_tag }}
{{ asset('plugins/select2/css/select2.min.css')|css_tag }}
{{ asset('plugins/select2/css/select2-bootstrap.min.css')|css_tag }}

{{ asset('plugins/datatables/datatables.min.css')|css_tag }}
{{ asset('plugins/datatables/plugins/bootstrap/datatables.bootstrap.css')|css_tag }}
{% endblock %}

{% block pageheader %}
<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <div class="container">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>{{ string_menuname }}
                <small>Form {{ string_menuname }}</small>
            </h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
</div>
<!-- END PAGE HEAD-->

{% endblock %}


{% block breadcrumbs %}
<!-- BEGIN PAGE BREADCRUMBS -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="{{ url('/home') }}">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="javascript:void(0)">Admin</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{{ route('submenu_show') }}">{{ string_menuname }}</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Form</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMBS -->
{% endblock %}


{% block body %}

<div class="row">
  <div class="col-md-12">
      <!-- BEGIN VALIDATION STATES-->
      <div class="portlet light portlet-fit portlet-form bordered">
          <div class="portlet-title">
              <div class="caption">
                  <i class="glyphicon glyphicon-list font-green"></i>
                  <span class="caption-subject font-green bold uppercase">Form {{ string_menuname }}</span>
              </div>
          </div>
          <div class="portlet-body">
              <!-- BEGIN FORM-->


              <form action="{% if state == "add" %}{{ route('submenu_post') }}{% else %}{{ route('submenu_update') }}{% endif %}" name="form_{{ string_menuname }}" id="form_{{ string_menuname }}" class="form-horizontal" method="post">
                  {{ csrf_field() }}
                  <div class="form-body">
                      <!-- NAME -->
                        <div class="form-group {% if (errors.has('name')) %}has-error{% endif %}">
                            <label class="control-label col-md-3">Name {{ string_menuname }}
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-6">
                              <div class="input-icon right">
                                  <i class="fa"></i>
                                  <input type="text" class="form-control" id="name" name="name" placeholder="Name" autocomplete="off" value="{% if state == 'add' %}{{ old('name') }}{% else %}{{ Submenu.name }}{% endif %}">
                                  <input type="hidden" class="form-control" id="id" name="id" value="{{ id }}" />
                                  {% if (errors.has('name')) %}<span class="help-block"> {{ errors.first('name') }} </span>{% endif %}
                              </div>
                               </div>
                        </div>
                      <!-- END NAME -->

                      <!-- URL/ROUTE -->
                        <div class="form-group {% if (errors.has('url')) %}has-error{% endif %}">
                            <label class="control-label col-md-3">Url
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-6">
                              <div class="input-icon right">
                                  <i class="fa"></i>
                                  <input type="text" class="form-control" id="url" name="url" placeholder="URL Name" autocomplete="off" value="{% if state == 'add' %}{{ old('url') }}{% else %}{{ Submenu.url }}{% endif %}">
                                  {% if (errors.has('url')) %}<span class="help-block"> {{ errors.first('url') }} </span>{% endif %}
                              </div>
                               </div>
                        </div>
                      <!-- END URL/ROUTE -->

                      <!-- PERMISSION -->
                          <div class="form-group {% if (errors.has('permission')) %}has-error{% endif %}">
                              <label class="control-label col-md-3">Permission Access
                                  <span class="required"> * </span>
                              </label>
                              <div class="col-md-6">
                                  <div class="input-icon right">
                                      <i class="fa"></i>
                                      <select name="permission" class="form-control select2me" id="permission">
                                          {% set ListPermission = call_helpers('get_ListPermission') %}
                                          {% for key,value in ListPermission %}
                                              <option value="{{ key }}" {{ Submenu.permission == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                          {% endfor %}
                                      </select>
                                      {% if (errors.has('permission')) %}<span class="help-block"> {{ errors.first('permission') }} </span>{% endif %}
                                  </div>
                              </div>
                          </div>
                      <!-- END PERMISSION -->

                      <!-- PARENT -->
                        <div class="form-group {% if (errors.has('parent')) %}has-error{% endif %}">
                            <label class="control-label col-md-3">Parent
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-6">
                              <div class="input-icon right">
                                  <i class="fa"></i>
                                  <select name="parent" class="form-control select2me" id="parent">
                                      {% if state == 'add' %}
                                          <option value="">-- Select Parent --</option>
                                      {% else %}
                                          <option value="{{ Submenu.parent_id }}">{{ Menu.name }}</option>
                                      {% endif %}
                                      {% for  parent in Parents %}
                                          <option value="{{ parent.id}}">{{ parent.name}}</option>
                                      {% endfor %}
                                  </select>
                                  {% if (errors.has('parent')) %}<span class="help-block"> {{ errors.first('parent') }} </span>{% endif %}
                              </div>
                               </div>
                        </div>
                      <!-- END PARENT -->

                      <div class="form-group  {% if (errors.has('icon')) %}has-error{% endif %}">
                          <label class="control-label col-md-3">Icon
                          </label>
                          <div class="col-md-6">
                              <div class="input-icon right">
                                  <i class="fa"></i>
                                  <input type="text" class="form-control" id="icon" name="icon" placeholder="Icon" autocomplete="off" value="{% if state == 'add' %}{{ old('icon') }}{% else %}{{ Submenu.icon }}{% endif %}">
                                  {% if (errors.has('icon')) %}<span class="help-block"> {{ errors.first('icon') }} </span>{% endif %}
                              </div>
                          </div>
                      </div>



                  </div>
                  <div class="form-actions">
                      <div class="row">
                          <div class="col-md-offset-3 col-md-9">
                            <a  class="btn btn-default" href="{{ route('submenu') }}">Batal</a>
                            <button type="submit" class="btn btn-success">Simpan</button>
                          </div>
                      </div>
                  </div>
              </form>
              <!-- END FORM-->
          </div>
          <!-- END VALIDATION STATES-->
      </div>
  </div>
</div>


{% endblock %}


{% block addjs %}
<!-- CHECKBOX & RADIO -->
{{ asset('plugins/icheck/icheck.min.js')|script_tag }}

<!-- DROPDOWN -->
{{ asset('plugins/select2/js/select2.full.min.js')|script_tag }}

    {{ asset('plugins/datatables/datatables.min.js')|script_tag }}
{{ asset('plugins/datatables/plugins/bootstrap/datatables.bootstrap.js')|script_tag }}

<script>
var ROUTE_DATATABLE = '{{ route('role_datatables') }}';

<!-- SET ACTIVE MENU -->
$("#{{ IDMENU }}").addClass("active open");
$("#{{ IDSUBMENU }}").addClass("active open");
<!-- END SET ACTIVE MENU -->
</script>
{{ asset('js/datatables/datatables.js')|script_tag }}
{{ theme_asset('admin::js/script/form-icheck.min.js')|script_tag }}

{% endblock %}
