{% extends "admin::layouts.layout" %}

{% block addcss %}

    {{ asset('plugins/select2/css/select2.min.css') | css_tag }}
    {{ asset('plugins/select2/css/select2-bootstrap.min.css') | css_tag }}

    {{ asset('plugins/bootstrap-toastr/toastr.min.css') | css_tag }}

    <!-- DATEPICKER  -->
    {{ asset('plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') | css_tag }}

    <!-- FILEINPUT -->
    {{ asset('plugins/bootstrap-fileinput/bootstrap-fileinput.css') | css_tag }}

    <!-- DATEPICKER  -->
    {{ asset('plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css')|css_tag }}

    {{ asset('plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css')|css_tag }}


{% endblock %}

{% block pageheader %}
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <div class="container">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>{{ string_menuname }}
                    <small>{{ string_active_menu }}</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
    </div>
    <!-- END PAGE HEAD-->

{% endblock %}


{% block breadcrumbs %}
    <!-- BEGIN PAGE BREADCRUMBS -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{{ url('/home') }}">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="javascript:void(0)">{{ string_menuname }}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            {{ string_active_menu }}
        </li>
    </ul>
    <!-- END PAGE BREADCRUMBS -->
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN VALIDATION STATES-->
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-shopping-cart font-green-jungle"></i>
                        <span class="caption-subject font-green-jungle bold uppercase">Fitur Premium </span>
                    </div>
                    {%  if state == "edit" %}
                    <div class="actions">
                        <a href="{{ route('wedding_gallery_form', Website.id) }}" class="btn btn-success btn-circle" name="btn" value="Nex"><i class="fa fa-share"></i> Selanjutnya</a>
                    </div>
                    {% endif %}

                </div>
                <div class="portlet-body">
                    {% if (session('ScsMsg')) %}
                        <div class="alert alert-success">
                            <button class="close" data-close="alert"></button>
                            <span>{{ session('ScsMsg') }}</span>
                        </div>
                    {% endif %}

                    {% if (session('ErrMsg')) %}
                        <div class="alert alert-danger">
                            <button class="close" data-close="alert"></button>
                            <span>{{ session('ErrMsg') }}</span>
                        </div>
                    {% endif %}

                    {% if (session('WrngMsg')) %}
                        <div class="alert alert-warning">
                            <button class="close" data-close="alert"></button>
                            <span>{{ session('WrngMsg') }}</span>
                        </div>
                    {% endif %}

                    {% if (session('InfoMsg')) %}
                        <div class="alert alert-info">
                            <button class="close" data-close="alert"></button>
                            <span>{{ session('InfoMsg') }}</span>
                        </div>
                    {% endif %}



                    <!-- BEGIN FORM-->
                    <form action="{{ route('premium_feature_save') }}" name="form_premium_feature" id="form_premium_feature" class="form-horizontal" method="post" enctype="multipart/form-data">
                        {{ csrf_field() }}
                        <input type="hidden" id="website_id" name="website_id" value="{{ WebsiteID }}">
                        <div class="form-body">
                            <div class="alert alert-info">
                                <span>Silakan masukan nama subdomain sesuai keinginanmu. Format yang akan kami tampilkan yaitu http://example.myinvitation.id</span>
                            </div>
                            <hr>

                            <!-- DOMAIN -->
                            <div class="form-group {% if (errors.has('domain')) %}has-error{% endif %}">
                                <label class="control-label col-md-3">Subomain
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            http://
                                        </span>
                                        <input type="text" class="form-control maxlength" maxlength="50" id="domain" name="domain" placeholder="Masukan Subdomain keinginanmu" autocomplete="off" value="{{ Website.domain }}">
                                        {% if (errors.has('domain')) %}<span class="help-block"> {{ errors.first('domain') }} </span>{% endif %}
                                        <span class="input-group-addon input-circle-right">
                                            <font class="font-red">.myinvitation.id</font>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- END DOMAIN -->

                            <!-- TEMPLATE -->
                            <div class="form-group">
                                <label class="control-label col-md-3">Template
                                </label>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-circle-left" id="template" name="template" placeholder="Template" autocomplete="off" value="{{ Website.template.name }}" readonly>
                                        <span class="input-group-addon input-circle-right">
                                        <i class="fa fa-user"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- END TEMPLATE -->

                            <!-- BIAYA TAMBAHAN -->
                            <div class="form-group">
                                <label class="control-label col-md-3">Biaya Tambahan
                                </label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control rupiah  input-circle-left" id="additional_price" name="additional_price" placeholder="Rp 0,-" autocomplete="off" value="0" readonly>
                                        <span class="input-group-addon input-circle-right">
                                        <i class="fa fa-usd"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- END BIAYA TAMBAHAN -->

                            <!-- TOTAL -->
                            <div class="form-group">
                                <label class="control-label col-md-3">Total
                                </label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control rupiah input-circle-left" id="total" name="total" placeholder="Rp 0,-" autocomplete="off" value="{{ Template.price }}" readonly>
                                        <span class="input-group-addon input-circle-right">
                                        <i class="fa fa-usd"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- END TOTAL -->
                        </div>
                        <hr>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn green-jungle btn-circle" name="btn" value="Save"><i class="fa fa-shopping-cart"></i> Pesan</button>
                                </div>
                            </div>
                        </div>


                    </form>
                    <!-- END FORM-->
                </div>
                <!-- END VALIDATION STATES-->
            </div>
        </div>
    </div>

{% endblock %}

{% block addmodal %}

{% endblock %}

{% block addjs %}
    <!-- VALIDATION -->
    {{ asset('plugins/jquery-validation/js/jquery.validate.min.js') | script_tag }}
    {{ asset('plugins/jquery-validation/js/additional-methods.min.js') | script_tag }}
    {{ asset('modules/premium/validate.js') | script_tag }}

    <!-- NOTIFICATION -->
    {{ asset('plugins/bootstrap-toastr/toastr.min.js')|  script_tag }}

    <!-- DROPDOWN -->
    {{ asset('plugins/select2/js/select2.full.min.js') | script_tag }}

    <!-- JS INPUT-MASK -->
    {{ asset('plugins/jquery-inputmask/jquery.inputmask.bundle.min.js')|script_tag }}
    {{ asset('js/input-mask/input-mask.js')|script_tag }}


    <!-- JS SELECT2 -->
    {{ asset('js/select2/select2.js') | script_tag }}

    <!-- JS -->
    {{ asset('modules/premium/main.js') | script_tag }}



    <!-- MAXLENGTH-->
    {{ asset('plugins/bootstrap-maxlength/bootstrap-maxlength.min.js')|script_tag }}
    {{ asset('js/maxlength/maxlength.js')|script_tag }}



{% endblock %}
