{% extends "admin::layouts.layout" %}

{% block addcss %}

    {{ asset('plugins/select2/css/select2.min.css') | css_tag }}
    {{ asset('plugins/select2/css/select2-bootstrap.min.css') | css_tag }}

    {{ asset('plugins/bootstrap-toastr/toastr.min.css') | css_tag }}

    {{ theme_asset('admin::css/pages/invoice-2.min.css')|css_tag }}


{% endblock %}

{% block pageheader %}
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <div class="container">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>{{ string_menuname }}
                    <small>{{ string_active_menu }}</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
    </div>
    <!-- END PAGE HEAD-->

{% endblock %}


{% block breadcrumbs %}
    <br>
    <!-- BEGIN PAGE BREADCRUMBS -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{{ url('/home') }}">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="javascript:void(0)">{{ string_menuname }}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            {{ string_active_menu }}
        </li>
    </ul>
    <!-- END PAGE BREADCRUMBS -->
{% endblock %}

{% block pageclass %}-inner{% endblock %}

{% block body %}

        <div class="invoice-content-2">
        <div class="row invoice-head">
            <div class="col-md-7 col-xs-6">
                <div class="invoice-logo">
                    <img src="{{ UrlLogo }}" class="img-responsive" alt="{{ Setting.project_name }}"  style="width: 150px;"/>
                    <h1 class="uppercase">Invoice [{{ Invoice.invoice_number }}]</h1><br>
                </div>
            </div>
            <div class="col-md-5 col-xs-6">
                <div class="company-address">
                    <span class="bold uppercase">{{ Setting.project_name }}</span>
                    {{ Setting.address | raw }}
                    <br/>
                    <span class="bold"><i class="fa fa-mobile-phone"></i></span> {{ Setting.mobile }}
                    <br>
                    <span class="bold"><i class="fa fa-envelope-square"></i></span> {{ Setting.email }}
                    <br>
                    <span class="bold"><i class="fa fa-whatsapp"></i></span> {{ Setting.whatsapp }}<br>
                    <strong><font class="red-flamingo">Berlaku Hingga : {{ call_helpers_two('DateFormat',Invoice.date_expired,'d F Y H:i:s') }}</font></strong>
                </div>
            </div>
        </div>
        <div class="row invoice-cust-add">
            <div class="col-xs-3">
                <h2 class="invoice-title uppercase">Customer</h2>
                <p class="invoice-desc"><i class="fa fa-user"></i> {{ Invoice.user.name }}</p>
            </div>
            <div class="col-xs-3">
                <h2 class="invoice-title uppercase">Email</h2>
                <p class="invoice-desc"><i class="fa fa-envelope"></i> {{ Invoice.user.email }}</p>
            </div>
            <div class="col-xs-6">
                <h2 class="invoice-title uppercase">Alamat</h2>
                <p class="invoice-desc inv-address"><i class="fa fa-home"></i> {{ Invoice.user.address | raw}} - {{ Invoice.user.city }}</p>
            </div>
        </div>
        <div class="row invoice-body">
            <div class="col-xs-12 table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="invoice-title uppercase">Deskripsi</th>
                        <th class="invoice-title uppercase text-center">Harga</th>
                        <th class="invoice-title uppercase text-center">Discount</th>
                        <th class="invoice-title uppercase text-center">Biaya</th>
                        <th class="invoice-title uppercase text-center">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for detail in Invoice.invoice_detail %}
                    <tr>
                        <td>
                            <h3>{{ detail.note }}</h3>
                            {% if (detail.additional_note) %}
                            <p> {{ detail.additional_note }} </p>
                            {% endif %}
                        </td>
                        <td class="text-center sbold">{{ detail.price }}</td>
                        <td class="text-center sbold">{{ call_helpers('set_numberformat', detail.discount) }}</td>
                        <td class="text-center sbold">{{ call_helpers('set_numberformat', detail.additional) }}</td>
                        <td class="text-center sbold">{{ call_helpers('set_numberformat', detail.total) }}</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row invoice-subtotal">
            <div class="col-xs-3">
                <h2 class="invoice-title uppercase">Subtotal</h2>
                <p class="invoice-desc">{{ call_helpers('set_numberformat',SubTotal) }}</p>
            </div>
            <div class="col-xs-3">
                <h2 class="invoice-title uppercase">Disc. ({{ Invoice.discount }}%)</h2>
                <p class="invoice-desc">0</p>
            </div>
            <div class="col-xs-3">
                <h2 class="invoice-title uppercase">Biaya </h2>
                <p class="invoice-desc">{{ call_helpers('set_numberformat',Invoice.additional_price) }}</p>
            </div>
            <div class="col-xs-3">
                <h2 class="invoice-title uppercase">Total</h2>
                <p class="invoice-desc grand-total">{{ call_helpers('set_numberformat',Invoice.total) }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a class="btn btn-lg green-haze hidden-print uppercase print-btn btn-circle" onclick="javascript:window.print();">Print</a>
            </div>
        </div>
        <hr>
            <div class="row">
                <div class="portlet box blue-dark">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-sticky-note font-white"></i>
                            <span class="caption-subject font-white bold uppercase">Note </span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        Terima kasih telah menggunakan jasa kami untuk undangan online premium anda. Kami akan senantiasa membantu anda dengan segala kemudahan dalam teknologi internet.
                        Untuk melanjutkan ke tahap selanjutnya, silakan Transfer ke rekening kami :
                        <ul>
                            <li>BCA 738-031-7421 an Barindra Maslo</li>
                            <li>CIMB 502-01-39873-11-3 an Barindra Maslo</li>
                        </ul>
                        Mohon konfirmasi Transfer anda melalui beberapa cara :
                        <ul>
                            <li><i class="fa fa-whatsapp"></i> {{ Setting.whatsapp }}</li>
                            <li><i class="fa fa-mobile"></i> {{ Setting.user.mobile }}</li>
                            <li>Confirmation : <a href="javascript:;" class="btn btn-xs red"> Form <i class="fa fa-file"></i></a></li>
                        </ul>
                        Konfirmasi menggunakan <i class="fa fa-whatsapp"></i> Whatsapp dan <i class="fa fa-mobile"></i> SMS :<br>
                        <i><small><strong>Format : CONFIRMATION[SPASI]{{ Invoice.invoice_number }}[SPASI]{{ call_helpers('set_numberformat',Invoice.total) }}</strong></small></i>

                    </div>
                </div>

            </div>
    </div>

{% endblock %}

{% block addmodal %}
{% endblock %}

{% block addjs %}
    <!-- VALIDATION -->
    {{ asset('plugins/jquery-validation/js/jquery.validate.min.js') | script_tag }}
    {{ asset('plugins/jquery-validation/js/additional-methods.min.js') | script_tag }}
    {{ asset('modules/template/validate.js') | script_tag }}


    <!-- NOTIFICATION -->
    {{ asset('plugins/bootstrap-toastr/toastr.min.js')|  script_tag }}

    <!-- DROPDOWN -->
    {{ asset('plugins/select2/js/select2.full.min.js') | script_tag }}

    <!-- JS SELECT2 -->
    {{ asset('js/select2/select2.js') | script_tag }}

    <!-- JS -->
    {{ asset('modules/template/main.js') | script_tag }}





{% endblock %}
