<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    {% block metadata %}
        {% include "admin::partials/metadata" %}
    {% endblock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    {{ asset('plugins/font-awesome/css/font-awesome.min.css')|css_tag }}
    {{ asset('plugins/simple-line-icons/simple-line-icons.min.css')|css_tag }}
    {{ asset('plugins/bootstrap/css/bootstrap.min.css')|css_tag }}
    {{ asset('plugins/bootstrap-switch/css/bootstrap-switch.min.css')|css_tag }}
    {{ asset('plugins/font-awesome/css/font-awesome.min.css')|css_tag }}

    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    {{ theme_asset('admin::css/components.css')|css_tag }}
    {{ theme_asset('admin::css/plugins.css')|css_tag }}
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    {{ theme_asset('admin::css/pages/login-2.min.css')|css_tag }}
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" /> </head>
<!-- END HEAD -->

<body class="login">
<!-- BEGIN LOGO -->
<div class="logo">
    <img src="{{ asset('images/logo/yourbag.png') }}" class="logo-default" alt="{{ asset('images/logo/yourbag.png') }}" style="height:100px;width:150px;" />
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->

<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN FORGOT PASSWORD FORM -->
    <form class="login-form" action="{{ route('password_request_send') }}" method="post">
        {{ csrf_field() }}

        <div class="form-title">
            <span class="form-title">Forget Password ?</span>
            <span class="form-subtitle">Enter your e-mail to reset it.</span>
        </div>

        {% if(session('scsMsg')) %}
            <div class="alert alert-success">
                <button class="close" data-close="alert"></button>
                <span>{{ session('scsMsg') }}</span>
            </div>
        {% endif %}


        {% if errors.any %}
            {% for error in errors.all %}
                <div class="alert alert-danger">
                    <button class="close" data-close="alert"></button>
                    <span>{{ error }}</span>
                </div>
            {% endfor %}
        {% endif %}

        <div class="form-group">
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="username" />
        </div>
        <div class="form-actions">
            <a id="back-btn" class="btn btn-default" href="{{ route('login') }}">Back</a>
            <button type="submit" class="btn btn-primary uppercase pull-right">Submit</button>
        </div>
    </form>
    <!-- END FORGOT PASSWORD FORM -->
</div>



<div class="copyright hide"> 2016 © {{ config('app.name')}}</div>






<!--[if lt IE 9]>
{{ asset('plugins/respon.min.js')|script_tag }}
{{ asset('plugins/excanvas.min.js')|script_tag }}
{{ asset('plugins/ie8.fix.min.js')|script_tag }}
<![endif]-->

<!-- BEGIN CORE PLUGINS -->
{{ asset('plugins/jquery.min.js')|script_tag }}
{{ asset('plugins/bootstrap/js/bootstrap.min.js')|script_tag }}
{{ asset('plugins/js.cookie.min.js')|script_tag }}
{{ asset('plugins/jquery-slimscroll/jquery.slimscroll.min.js')|script_tag }}
{{ asset('plugins/jquery.blockui.min.js')|script_tag }}
{{ asset('plugins/bootstrap-switch/js/bootstrap-switch.min.js')|script_tag }}
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
{{ asset('plugins/jquery-validation/js/jquery.validate.min.js')|script_tag }}
{{ asset('plugins/jquery-validation/js/additional-methods.min.js')|script_tag }}
{{ asset('plugins/select2/js/select2.full.min.js')|script_tag }}
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
{{ theme_asset('admin::js/app.min.js')|script_tag }}
<!-- {{ theme_asset('plugins/backstretch/jquery.backstretch.min.js') }} -->
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
{{ theme_asset('admin::js/app.min.js')|script_tag }}
{{ theme_asset('admin::js/pages/login.min.js')|script_tag }}
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<!-- END THEME LAYOUT SCRIPTS -->
</body>

</html>
