{% extends "admin::layouts.layout" %}

{% block addcss %}
    <!-- DATATABLE -->
    {{ asset('plugins/datatables/datatables.min.css')|css_tag }}
    {{ asset('plugins/datatables/plugins/bootstrap/datatables.bootstrap.css')|css_tag }}

    <!-- MODAL -->
    {{ asset('plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css')|css_tag }}
    {{ asset('plugins/bootstrap-modal/css/bootstrap-modal.css')|css_tag }}

    <!-- FILE INPUT -->
    {{ asset('plugins/bootstrap-fileinput/bootstrap-fileinput.css') | css_tag }}

    <!-- NOTIFICATION -->
    {{ asset('plugins/bootstrap-toastr/toastr.min.css') | css_tag }}

    <!-- DATEPICKER  -->
    {{ asset('plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css')|css_tag }}

{% endblock %}


{% block pageheader %}
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <div class="container">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>{{ string_menuname }}
                    <small>List {{ string_menuname }}</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
    </div>
    <!-- END PAGE HEAD-->

{% endblock %}


{% block breadcrumbs %}
    <!-- BEGIN PAGE BREADCRUMBS -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{{ url('/home') }}">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="javascript:void(0)">Admin</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>{{ string_menuname }}</span>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMBS -->
{% endblock %}


{% block body %}
    {% if ScsMsg %}
        <div class="alert alert-success">
            <button class="close" data-close="alert"></button>
            <span>{{ ScsMsg }}</span>
        </div>
    {% endif %}

    {% if (session('ScsMsg')) %}
        <div class="alert alert-success">
            <button class="close" data-close="alert"></button>
            <span>{{ session('ScsMsg') }}</span>
        </div>
    {% endif %}

    {% if (session('ErrMsg')) %}
        <div class="alert alert-danger">
            <button class="close" data-close="alert"></button>
            <span>{{ session('ErrMsg') }}</span>
        </div>
    {% endif %}

    {% if (session('WrngMsg')) %}
        <div class="alert alert-warning">
            <button class="close" data-close="alert"></button>
            <span>{{ session('WrngMsg') }}</span>
        </div>
    {% endif %}

    {% if (session('InfoMsg')) %}
        <div class="alert alert-info">
            <button class="close" data-close="alert"></button>
            <span>{{ session('InfoMsg') }}</span>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN VALIDATION STATES-->
            <div class="portlet light portlet-fit portlet-form bordered">
                <div class="portlet-title">
                    <div class="actions">
                        <a href="{{ route('wedding_gallery_form', WebsiteID) }}" class="btn btn-info btn-circle" name="btn" value="Nex"><i class="fa fa-reply"></i> Kembali</a>
                        <a href="{{ route('wedding_bridesmaid_show', WebsiteID) }}" class="btn btn-success btn-circle" name="btn" value="Nex"><i class="fa fa-share"></i> Selanjutnya</a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="mt-element-step">
                        <div class="row step-line">
                            <div class="col-md-2 mt-step-col first done">
                                <div class="mt-step-number bg-white">1</div>
                                <div class="mt-step-title uppercase font-grey-cascade">Wedding Info</div>
                                <div class="mt-step-content font-grey-cascade">Lengkapi data pernikahan</div>
                            </div>
                            <div class="col-md-2 mt-step-col done">
                                <div class="mt-step-number bg-white">2</div>
                                <div class="mt-step-title uppercase font-grey-cascade">Gallery Image</div>
                                <div class="mt-step-content font-grey-cascade">Upload Foto Pre-wedding</div>
                            </div>
                            <div class="col-md-2 mt-step-col active">
                                <div class="mt-step-number bg-white">3</div>
                                <div class="mt-step-title uppercase font-grey-cascade">Story of Love</div>
                                <div class="mt-step-content font-grey-cascade">Moment kesayangan</div>
                            </div>
                            <div class="col-md-2 mt-step-col">
                                <div class="mt-step-number bg-white">4</div>
                                <div class="mt-step-title uppercase font-grey-cascade">Bridesmaid</div>
                                <div class="mt-step-content font-grey-cascade">Informasi Pendamping</div>
                            </div>
                            <div class="col-md-2 mt-step-col">
                                <div class="mt-step-number bg-white">5</div>
                                <div class="mt-step-title uppercase font-grey-cascade">Template</div>
                                <div class="mt-step-content font-grey-cascade">Pilih Template Website</div>
                            </div>
                            <div class="col-md-2 mt-step-col last">
                                <div class="mt-step-number bg-white">6</div>
                                <div class="mt-step-title uppercase font-grey-cascade">Finish</div>
                                <div class="mt-step-content font-grey-cascade">Siap disebarkan</div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- END VALIDATION STATES-->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-history font-yellow-casablanca"></i>
                        <span class="caption-subject bold font-yellow-casablanca uppercase"> {{ string_active_menu }} </span>
                        <span class="caption-helper">Daftar Momen kesayangan bersama pasanganmu</span>
                    </div>
                    <div class="inputs">
                        <a type="button" class="btn blue btn-default btn-sm btn-circle" href="javascript:void(0);" title="Preview" id="btn-PreviewStory" data-toggle="tooltip"><i class="fa fa-hand-o-right"></i> Preview</a>
                        <a type="button" class="btn btn-default btn-sm btn-circle" href="javascript:void(0);" title="Form" data-toggle="tooltip" id="btn-AddStory"><i class="glyphicon glyphicon-plus"></i> Form</a>
                    </div>
                </div>
                <div class="portlet-body">

                    <table class="table table-hover table-light" id="tbl_storyoflove">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Judul</th>
                            <th>Tanggal</th>
                            <th>Deskripsi</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <!--tbody section is required-->
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
{% endblock %}

{% block addmodal %}
    <div id="ModalAddStory" class="modal fade" tabindex="-1" data-width="760">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Tambah Momen Kesayanganmu</h4>
        </div>
        <div class="modal-body">
            <!-- BEGIN FORM-->
            <form name="form_storyoflove" id="form_storyoflove" class="form-horizontal" method="post" enctype="multipart/form-data">
                {{ csrf_field() }}
                <div class="form-body">
                    <!-- PARAM -->
                    <input type="hidden" name="website_id" id="website_id" value="{{ WebsiteID }}">
                    <input type="hidden" name="storyoflove_id" id="storyoflove_id">
                    <input type="hidden" name="statusform" id="statusform">
                    <!-- PARAM -->

                    <!-- TITLE -->
                    <div class="form-group" id="row-title">
                        <label class="control-label col-md-3">Judul
                            <span class="required"> * </span>
                        </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control maxlength" maxlength="255" id="title" name="title" placeholder="Masukan Judul Momen terbaik bersamanya" autocomplete="off" value="">
                        </div>
                    </div>
                    <!-- END TITLE -->

                    <!-- DESKRIPSI -->
                    <div class="form-group" id="row-description">
                        <label class="control-label col-md-3">Deskripsi
                            <span class="required"> * </span>
                        </label>
                        <div class="col-md-8">
                            <textarea type="text" class="form-control"  id="description" name="description" placeholder="Ceritakan tentang Momen tersebut" autocomplete="off" value=""></textarea>
                        </div>
                    </div>
                    <!-- END DESKRIPSI -->


                    <!-- TANGGAL -->
                    <div class="form-group" id="row-date_story">
                        <label class="control-label col-md-3">Tanggal Moment
                            <span class="required"> * </span>
                        </label>
                        <div class="col-md-3">
                            <div class="input-icon right">
                                <i class="fa fa-calendar"></i>
                                <input type="text" class="form-control date-picker" id="date_story" name="date_story" data-date-format="dd-mm-yyyy" readonly placeholder="dd-mm-yyyy" autocomplete="off" value="">
                            </div>
                        </div>
                    </div>
                    <!-- END TANGGAL -->

                    <!-- FOTO -->
                    <div class="form-group">
                        <label class="control-label col-md-3">Foto
                        </label>
                        <div class="col-md-6">
                            <div id="imageNew">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="input-group input-large">
                                        <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                            <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                            <span class="fileinput-filename"> </span>
                                        </div>
                                        <span class="input-group-addon btn default btn-file">
                                    <span class="fileinput-new"> Pilih Foto </span>
                                    <span class="fileinput-exists"> Ubah </span>
                                        <input type="file"  id="imageFile" name="imageFile"> </span>
                                        <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Hapus </a>
                                    </div>
                                </div>
                            </div>
                            <div id="imageEdit" style="display: none;">
                                <div class="input-group">
                                    <input class="form-control" type="text" id="imageFileEdit" name="imageFileEdit" readonly>
                                    <span class="input-group-btn">
                                        <button class="btn red" type="button" id="btn-DeleteImageEdit">Hapus</button>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- END FOTO -->


                    <!-- URL YOUTUBE -->
                    <div class="form-group">
                        <label class="control-label col-md-3">Url Youtube
                        </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="video" name="video" placeholder="Masukan Url Youtube (Bila ada)" autocomplete="off" value="">
                        </div>
                    </div>
                    <hr>
                    <!-- END URL YOUTUBE -->





                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-success btn-circle" name="btn" value="Save"><i class="fa fa-save"></i> Simpan</button>
                                    <button type="button" class="btn btn-warning btn-circle" name="btn" value="Reset" id="btn-ResetFormStory"><i class="fa fa-refresh"></i> Reset</button>
                                    <button type="button" class="btn btn-default btn-circle" name="btn" value="Tutup" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i> Tutup</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- Delete -->
    <div class="modal fade" id="ConfirmDelete" tabindex="-1">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Konfirmasi Hapus!</h4>
                </div>
                <div class="modal-body">
                    Apakah kamu yakin??
                    <input type="hidden" name="id" id="id">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="ActionDelete()">Hapus</button>
                </div>
            </div>
            <!-- /.modal-content -->
    </div>
    <!-- Delete -->

    <!-- Delete Image -->
    <div class="modal fade" id="ConfirmDeleteImage" tabindex="-1">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Konfirmasi Hapus!</h4>
            </div>
            <div class="modal-body">
                Apakah kamu yakin??
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Tutup</button>
                <button type="button" class="btn btn-danger" id="btn-ActionDeleteImage">Hapus</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- Delete Image -->


{% endblock %}

{% block addjs %}
    <!-- DATATABLE -->
    {{ asset('plugins/datatables/datatables.min.js') | script_tag }}
    {{ asset('plugins/datatables/plugins/bootstrap/datatables.bootstrap.js') | script_tag }}

    <!-- DATEPICKER -->
    {{ asset('plugins/moment.min.js') | script_tag }}
    {{ asset('plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') | script_tag }}
    {{ asset('js/datetimepicker/datetime_picker.js') | script_tag }}


    <!-- MODAL -->
    {{ asset('plugins/bootstrap-modal/js/bootstrap-modalmanager.js') | script_tag }}
    {{ asset('plugins/bootstrap-modal/js/bootstrap-modal.js') | script_tag }}
    {{ theme_asset('admin::js/script/ui-extended-modals.min.js') | script_tag }}


    <!-- FILE INPUT -->
    {{ asset('plugins/bootstrap-fileinput/bootstrap-fileinput.js') | script_tag }}

    <!-- NOTIFICATION -->
    {{ asset('plugins/bootstrap-toastr/toastr.min.js')|  script_tag }}

    <script>
        var ROUTE_DATATABLE = '{{ route('wedding_storyoflove_datatables', WebsiteID) }}';



    </script>
    {{ asset('modules/storyoflove/datatable.js')|script_tag }}
    {{ asset('modules/storyoflove/main.js')|script_tag }}
{% endblock %}
