{% extends "admin::layouts.layout" %}

{% block addcss %}
{{ asset('plugins/select2/css/select2.min.css')|css_tag }}
{{ asset('plugins/select2/css/select2-bootstrap.min.css')|css_tag }}
{% endblock %}

{% block pageheader %}
<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <div class="container">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>{{ string_menuname }}
                <small>Form {{ string_menuname }}</small>
            </h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
</div>
<!-- END PAGE HEAD-->

{% endblock %}


{% block breadcrumbs %}
<!-- BEGIN PAGE BREADCRUMBS -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="{{ url('/home') }}">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="javascript:void(0)">Admin</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{{ route('permission_show') }}">{{ string_menuname }}</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Form</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMBS -->
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-md-12">
      <!-- BEGIN VALIDATION STATES-->
      <div class="portlet light portlet-fit portlet-form bordered">
          <div class="portlet-title">
              <div class="caption">
                  <i class="glyphicon glyphicon-file font-green"></i>
                  <span class="caption-subject font-green bold uppercase">Form {{ string_menuname }}</span>
              </div>
          </div>
          <div class="portlet-body">
              <!-- BEGIN FORM-->


              <form action="{% if state == "add" %}{{ route('permission_post') }}{% else %}{{ route('permission_update') }}{% endif %}" name="form_{{ string_menuname }}" id="form_{{ string_menuname }}" class="form-horizontal" method="post">
                  {{ csrf_field() }}
                  <div class="form-body">

                      <!-- NAME -->
                    <div class="form-group {% if (errors.has('name')) %}has-error{% endif %}">
                        <label class="control-label col-md-3">Name {{ string_menuname }}
                            <span class="required"> * </span>
                        </label>
                        <div class="col-md-6">
                          <div class="input-icon right">
                              <i class="fa"></i>
                              <input type="text" class="form-control" id="name" name="name" placeholder="Name" autocomplete="off" value="{% if state == 'add' %}{{ old('name') }}{% else %}{{ Permission.name }}{% endif %}">
                              <input type="hidden" class="form-control" id="id" name="id" value="{{ id }}" />
                              {% if (errors.has('name')) %}<span class="help-block"> {{ errors.first('name') }} </span>{% endif %}
                          </div>
                       </div>
                    </div>
                    <!-- END NAME -->

                    <!-- DISPLAY NAME -->
                    <div class="form-group {% if (errors.has('display_name')) %}has-error{% endif %}">
                        <label class="control-label col-md-3">Display Name
                            <span class="required"> * </span>
                        </label>
                        <div class="col-md-6">
                          <div class="input-icon right">
                              <i class="fa"></i>
                              <input type="text" class="form-control" id="display_name" name="display_name" placeholder="Display Name" autocomplete="off" value="{% if state == 'add' %}{{ old('display_name') }}{% else %}{{ Permission.display_name }}{% endif %}">
                              {% if (errors.has('display_name')) %}<span class="help-block"> {{ errors.first('display_name') }} </span>{% endif %}
                          </div>
                           </div>
                    </div>
                    <!-- END DISPLAY NAME -->

                    <!-- DESCRIPTION -->
                    <div class="form-group {% if (errors.has('description')) %}has-error{% endif %}">
                        <label class="control-label col-md-3">Description
                            <span class="required"> * </span>
                        </label>
                        <div class="col-md-6">
                          <div class="input-icon right">
                              <i class="fa"></i>
                              <textarea class="form-control" id="description" name="description" placeholder="Display Name" autocomplete="off">{% if state == 'add' %}{{ old('description') }}{% else %}{{ Permission.description }}{% endif %}</textarea>
                              {% if (errors.has('description')) %}<span class="help-block"> {{ errors.first('description') }} </span>{% endif %}
                          </div>
                           </div>
                    </div>
                    <!-- END DESCRIPTION -->

                    <!-- PERMISSION -->
                        <div class="form-group">
                            <label class="control-label col-md-3">Parent
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-6">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <select name="parent" class="form-control select2" id="parent">
                                        {% set PermissionList = call_helpers('get_ListPermissionNormal') %}
                                        {% for  key,value in PermissionList %}
                                            <option value="{{ key }}" {{ Permission.parent_permission_id == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    <!-- END PERMISSION -->

                  </div>
                  <div class="form-actions">
                      <div class="row">
                          <div class="col-md-offset-3 col-md-9">
                            <a  class="btn btn-default" href="{{ route('permission_show') }}">Batal</a>
                            <button type="submit" class="btn btn-success">Simpan</button>
                          </div>
                      </div>
                  </div>
              </form>
              <!-- END FORM-->
          </div>
          <!-- END VALIDATION STATES-->
      </div>
  </div>
</div>


{% endblock %}


{% block addjs %}
<!-- DROPDOWN -->
{{ asset('plugins/select2/js/select2.full.min.js')|script_tag }}
<!-- JS SELECT2 -->
{{ asset('js/select2/select2.js')|script_tag }}
{% endblock %}
